{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block body_block %}

<div class = 'col-sm-6 col-sm-offset-3'>


        <h1><strong>Mooove Registration</strong></h1>

        <form id="form" method="post" action="">
            {% csrf_token %}
            <div class="form-group" >
            <p class="required"> <label for="id_username">Firstname:</label> <input type="text" name="first_name" value="" size="50" /></p>
            <br />
        </div>
        <div class="form-group" >
            <p class="required"> <label for="id_username">Lastname:</label> <input type="text" name="last_name" value="" size="50" /></p>
            <br />
        </div>
        <div class="form-group" >
            <p class="required"> <label for="id_username">Username:</label> <input type="text" name="username" value="" size="50" /></p>
            <br />
        </div>
        <div class="form-group" >
            <p class="required"> <label for="id_username">Email:</label> <input type="text" name="email" value="" size="50" /></p>
            <br />
        </div>
        <div class="form-group" >
            <p class="required"> <label for="id_password">Password: </label> <input id = "password1" type="password" name="password" value="" size="50" /></p>
            <br />
        </div>
        <div class="form-group" >
            <p class="required"> <label for="id_username">Password (Verify):</label> <input id = "password2" type="password" name="first_name" value="" size="50" /></p>
            <br />
        </div>
        {{error}}
        <br>
            <input type="submit" value="submit" />
        </form>

 
        

     </div>   

 
{% endblock %}