<!DOCTYPE html>
<html>
    <head>
        <title>Mooove - Device Registeration</title>
    </head>

    <body>
        <h1>Register your Mooove Device</h1>

        <form id="add_form" method="post" action="">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Add Device" />
        </form>
    </body>

</html>