{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block body_block %}
{% load staticfiles %}
<script src='{% static "website/js/graph.js" %}'></script>
<script src='{% static "website/js/maps.js" %}'></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc9YQ9P2Ax9SP4_xo9nVY44yWqH_9En4Y"></script>
 <meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<style>

#dash-header
    width : 100%;
    padding-left: 60px;

}
.dash-container {

  width: 100%;
  margin: 20px auto;
  padding-right:60px;
  padding-left: 60px;
}
.panel-inverse>.panel-heading {
    background: #242a30;
    color: #fff;
}
#map{

    width:535px;
    height:335px;"
}

</style>



<div id = "dash-header">
    <h1><strong>
    {% if cowid %}
        {% if cowname %}
        {{cowname}}'s Dashboard! {{cowid}} (Cow Number: {{cownum}}, Device Number: {{ankletnum}})
        {% else %}
        Cow Number {{cownum}}'s Dashboard! (Device Number: {{ankletnum}})
        {% endif %}
    {% else %}
        This is preview of our dashboard service.
    {% endif%}

    </strong></h1>
</div>
<div class="dash-container">
<!--************************************ 1st Row ***************************************-->

<!--================ Temperature & Pulse ==============-->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-inverse" data-sortable-id="chart-js-1">
                    <div class="panel-heading">
                        <h4 class="panel-title">Line Chart</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            A line chart is a way of plotting data points on a line.
                            Often, it is used to show trend data, and the comparison of two data sets.
                        </p>
                        <div>
                            <canvas id="radar" width = "400" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
<!--================ Activity Monitor Average ==============-->
            <div class="col-md-6">
                <div class="panel panel-inverse" data-sortable-id="chart-js-2">
                    <div class="panel-heading">
                        <h4 class="panel-title">Activity Monitor</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            The grey area describes the average activity of the cow.
                            The blue area describes the activity of the cow today.
                        </p>
                        <div>
                            <div id="map" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--************************************ 2nd Row ***************************************-->
<!--================ Activity Monitor Moment ==============-->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-inverse" data-sortable-id="flot-chart-3">
                    <div class="panel-heading">
                        <h4 class="panel-title">Donut Chart</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            A line chart is a way of plotting data points on a line.
                            Often, it is used to show trend data, and the comparison of two data sets.
                        </p>
                        <div>
                            <canvas id="donut" width = "400" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
<!--================ Activity Monitor Average ==============-->
            <div class="col-md-6">
                <div class="panel panel-inverse" data-sortable-id="chart-js-4">
                    <div class="panel-heading">
                        <h4 class="panel-title">Map</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            A bar chart is a way of showing data as bars.
                            It is sometimes used to show trend data, and the comparison of multiple data sets side by side.
                        </p>
                        <div>
                            <canvas id="line"  width = "400" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
</div>
<!-- Forward the django template variable to javascript -->
<script type="text/javascript" >

    var cowid = "{{cowid}}";
    var cowIcon = '{% static "website/img/cowmarker.png" %}';

</script>




{% endblock %}

