{% extends "base_dash.html" %}

{% block title %}Dashboard{% endblock %}
{% block body_block %}



<style>

#dash-header{
    width : 100%;
    padding-left: 60px;

}
.dash-container {

  width: 100%;
  margin: 20px auto;
    padding-right:60px;
    padding-left: 60px;

}
.panel-inverse>.panel-heading {
    background: #242a30;
    color: #fff;
}

</style>



    <div id = "dash-header">
        <h1> <strong>MOOOVE DASHBOARD</strong> </h1>
    </div>
    <div class="dash-container">

                    <!-- begin row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-inverse" data-sortable-id="chart-js-1">
                        <div class="panel-heading">
                            <h4 class="panel-title">Temperature Monitor</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                A line chart is a way of plotting data points on a line.
                                Often, it is used to show trend data, and the comparison of two data sets.
                            </p>
                            <div>
                                <canvas id="line" data-render="chart-js"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-inverse" data-sortable-id="chart-js-2">
                        <div class="panel-heading">
                            <h4 class="panel-title">Activity Monitor</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                A bar chart is a way of showing data as bars.
                                It is sometimes used to show trend data, and the comparison of multiple data sets side by side.
                            </p>
                            <div>
                                <canvas id="radar" data-render="chart-js"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
    </div>
   


{% endblock %}
