<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mooove - Home</title>
    
    <!-- Bootstrap Core CSS -->
    <link href='{% static "website/css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom CSS -->
    <link href='{% static "website/css/stylish-portfolio.css" %}' rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='{% static "website/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

       <!-- jQuery -->
    <script src='{% static "website/js/jquery.js" %} '></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "website/js/bootstrap.min.js" %} '></script>
    <!-- Custom JavaScript -->
    <script src='{% static "website/js/menu.js" %} '></script>


</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            

         <!--    <li class="sidebar-brand"> -->
            {% if user.is_authenticated %}
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Hello, {{user.first_name}}</a>
            </li>
            <li>
                <a href="#top"  onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="/anklet_register"  onclick = $("#menu-close").click(); >Register Anklet</a>
            </li>
            <li>
                <a href="/dashboard"  onclick = $("#menu-close").click(); >Health Monitor</a>
            </li>
             <li>
                <a href="{% url 'user_logout'%}"  onclick = $("#menu-close").click(); >Logout</a>
            </li>
            {% else %}
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Mooove</a>
            </li>
            <li>
                <a href="#top"  onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="{% url 'register' %}"  onclick = $("#menu-close").click(); >Signup</a>
            </li>
             <li>
                <a href="{% url 'user_login' %}"  onclick = $("#menu-close").click(); >Login</a>
            </li>
            {% endif %}
            <li>
                <a href="#services" onclick = $("#menu-close").click(); >Services</a>
            </li>

            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <div id="top" class="header">
        <div class="text-vertical-center">
            {% if user.is_authenticated %}
            <h1>Welcome back, {{user.first_name}}</h1>
            <br>
            <a href="/dashboard" class="btn btn-dark btn-lg" >Go to Health Monitor</a>
            
            {% else %}
            <h1>Welcome to Mooove</h1>
            <h3>for the betterness of livestocks</h3>
            <br>
            <a href="/login" class="btn btn-dark btn-lg">Log In</a>&nbsp; &nbsp; &nbsp; &nbsp; 
            <a href="/dashboard/0" class="btn btn-dark btn-lg">Preview</a>
            {% endif %}

           
        </div>
    </div>

   

        <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

   
     <!-- Map -->
    <section id="contact" class="map">
       
       <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.6896145280803!2d-71.10806368510227!3d42.34914044378468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e379f05b90cbc3%3A0xc3d04462b5cb0870!2sBoston+University+Photonics+Center!5e0!3m2!1sen!2sus!4v1457034492228" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <br />

        </iframe>
    </section>

 
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Mooove</strong>
                    </h4>
                    <p>8 Saint Mary Street<br>Boston, MA 02215</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (617)699-0788</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:mooove.contact@gmail.com">mooove.contact@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Mooove 2016</p>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>
